#map {
  height: 70vh;
  width: 70%;
  position: relative;
  top: 5vh;
  left: 15%;
}

#search-box {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  display: block;
  /* Initially visible */
}

#search-box:hover {
  border-color: #007BFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#recenter-btn {
  position: absolute;
  top: 100px;
  /* Adjust to position it below the search box */
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


#recenter-btn:hover {
  background-color: #0056b3;

}

#search-box:focus,
#recenter-btn:focus {
  outline: 2px solid #007BFF;
  outline-offset: 2px;
}

.popup {
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  padding: 15px;
  color: #333;
}
.popup h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.popup p {
  margin: 8px 0;
  font-size: 14px;
  color: #666;
}

.popup .charging-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.popup .charging-info .icon {
  font-size: 16px;
  color: green;
}

.popup .charging-info .status {
  font-weight: bold;
  color: green;
}

.popup .location-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.popup .price-and-book {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.popup .price {
  background-color: #007BFF;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.popup .book-btn {
  background-color: #28a745;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.popup .book-btn:hover {
  background-color: #218838;
}



.report-btn-container {
  margin-top: 10px;
  text-align: center; /* Center the button */
}

.report-btn {
  background-color: #dc3545; /* Red color for "Report" */
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.report-btn:hover {
  background-color: #c82333;
}
